
<div class="container" ng-controller="usersController as usersCtrl">
  <div id="content-wrapper">
    <div class="row">

      <%= render 'angular/layouts/common_layout' %>

      <div class="db-main-content col-offset-small">
        <ul class="friends-part">
          <% if @accepted_friends.count > 0 %>
              <li class="well well-lg">
                <% @accepted_friends.each do |user| %>
                    <%= render 'accepted_friend', user: user %>
                <% end %>
              </li>
          <% end %>

          <% if @pending_friends.count > 0 %>
              <li  class="well well-lg">
                <% @pending_friends.each do |user| %>
                    <%= render 'pending_friend', user: user %>
                <% end %>
              </li>
          <% end %>

          <% if @requested_friends.count > 0 %>
              <li  class="well well-lg">
                <% @requested_friends.each do |user| %>
                    <%= render 'requested_friend', user: user %>
                <% end %>
              </li>
          <% end %>

          <% if @no_relationship_users.count > 0 %>
              <li  class="well well-lg">
                <h3> People you may know </h3>
                <br />
                <% @no_relationship_users.each do |user| %>
                    <%= render 'no_relationship_friend', user: user %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Dashboard view-->