<!DOCTYPE html>
<html>
<head>
  <title>RailsAngular</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
    <body ng-app="AngularJsOnRails" ng-controller="appCtrl as appCtrl">
        <div id="wrapper" ng-init="appCtrl.init()">
          <!--<div id="header"><!-- Avatar Part -->
            <%= render 'angular/headers/avatar_part' %>
          <!--</div>-->

          <div id="content">
            <%= yield %>
          </div>

          <div id="footer">
            <%= render 'angular/footers/footer' %>
          </div>
        </div>
    </body>
</html>
